::-webkit-scrollbar {
    display: none;
}

.strategies {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  width: 645px;
  float: left;
  height: 550px;
}

.header {
  border-bottom: 1px solid #0e0d0d;
  height: 30px;
  padding: 15px;
}

.green-button {
  float: right;
  background: #21CE99;
  border-radius: 25px;
  border: none;
  padding: 9px 21px;
  font-weight: 500;
  cursor: pointer;
}

.green-button:hover {
  color: #21ce99;
  background: #182b27;
}

button:focus {
  outline: 0;
}

.strategy-title {
  float: left;
  margin-top: 6px;
}

.strategy-list {
  width: 100%;
  border-collapse: collapse;
}

.strategy {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
}

.strategy:hover {
  background-color: #171718;
}

.strategy .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 15px;
  max-width: 85px;
}

.strategy .ticker {
  padding: 15px;
}

.strategy .status {
  margin-top: 14px;
  width: 45px;
  text-align: center;
}

.status.ACTIVE {
  display: inline-block;
  color: #21ce99;
  background: #182b27;
  padding: 7px;
  border-radius: 225px;
}

.status.ACTIVE:after {
  content: 'Active';
}

.status.PAUSED {
  display: inline-block;
  color: #E4E111;
  background: #3c3918;
  padding: 7px;
  border-radius: 225px;
}

.status.PAUSED:after {
    content: 'Paused';
}

.status.EXITED, .status.FINISHED {
  display: inline-block;
  color: #f45531;
  background: #2d201f;;
  padding: 7px;
  border-radius: 225px;
}

.status.EXITED:after {
  content: 'Exited';
}

.status.FINISHED:after {
  content: 'Finished';
}

.positive {
  color: #21ce99;
}

.negative {
  color: #f45531;
}
