.strategy-details {
  float: right;
  min-width: 660px;
}

.menu {
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 18px;
  border-bottom: 1px solid black;
  padding: 4px;
  cursor: pointer;
}

.menu > a.active {
  color: #21CE99;
  border-bottom: 1px solid #21CE99;
}

.menu a:hover {
  color: #21CE99;
  border-bottom: 1px solid #21CE99;
}

.statistics {

}

.statistics-item {
  display: flow-root;
  padding: 10px 0px;
  border-top: 1px solid black;
}

.statistics-item .label {
  float: left;
  color: #CBCBCD;
  font-weight: 400;
}

.statistics-item .value {
  float: right;
}

.trades-table {
  width: 100%;
}

.trades-table-header th {
  color: #CBCBCD;
  font-weight: 400;
}

.trade-row {

}

.trade-row:hover {
  background-color: #171718;
}

.trade-row td {
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  margin-top: 20px;
}
