.loader {
  border: 9px solid #f3f3f3;
  border-top: 9px solid #21ce99;
  border-bottom: 9px solid #21ce99;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  float: right;
  margin-right: 300px;
  margin-top: 250px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.strategy-details {
  float: right;
  min-width: 660px;
  width:1000px;
}

.menu {
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 18px;
  border-bottom: 1px solid black;
  padding: 4px;
  cursor: pointer;
}

.menu > a.active {
  color: #21CE99;
  border-bottom: 1px solid #21CE99;
}

.menu a:hover {
  color: #21CE99;
  border-bottom: 1px solid #21CE99;
}

.statistics {

}

.statistics-item {
  display: flow-root;
  padding: 10px 0px;
  border-top: 1px solid black;
}

.statistics-item .label {
  float: left;
  color: #CBCBCD;
  font-weight: 400;
}

.statistics-item .value {
  float: right;
}

.trades-table {
  width: 100%;
}

.trades-table-header th {
  color: #CBCBCD;
  font-weight: 400;
}

.trade-row {

}

.trade-row:hover {
  background-color: #171718;
}

.trade-row td {
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  margin-top: 20px;
}

.status {
  width: 45px;
  text-align: center;
  margin-top: 0px;
  font-size: 12px;
  display: inline-block;
}

.status.ACTIVE {
  color: #21ce99;
  background: #182b27;
  padding: 7px;
  border-radius: 225px;
}

.status.ACTIVE:after {
  content: 'Active';
}

.status.PAUSED {
  display: inline-block;
  color: #E4E111;
  background: #3c3918;
  padding: 7px;
  border-radius: 225px;
}

.status.PAUSED:after {
    content: 'Paused';
}

.status.EXITED, .status.FINISHED {
  display: inline-block;
  color: #f45531;
  background: #2d201f;;
  padding: 7px;
  border-radius: 225px;
}

.status.EXITED:after {
  content: 'Exited';
}

.status.FINISHED:after {
  content: 'Finished';
}

.positive {
  color: #21ce99;
}

.negative {
  color: #f45531;
}

.pause {
  margin: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.play {
  margin: 12px;
  text-decoration: underline;
  cursor: pointer;
}
